*,
html,
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:disabled,
button[disabled]{
  opacity: 0.4;
  cursor: no-drop;
}